<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-book-heading" data-cy="BookCreateUpdateHeading">Create or edit a Book</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          @if (editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)) {
            <div>
              @if (editForm.get('title')?.errors?.required) {
                <small class="form-text text-danger">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            @for (bookType of bookTypeValues; track $index) {
              <option [value]="bookType">
                {{
                  {
                    null: '',
                    HARDCOVER: 'HARDCOVER',
                    PAPERBACK: 'PAPERBACK',
                    EBOOK: 'EBOOK',
                    AUDIOBOOK: 'AUDIOBOOK',
                    MAGAZINE: 'MAGAZINE',
                    JOURNAL: 'JOURNAL',
                    COMIC: 'COMIC',
                    NEWSPAPER: 'NEWSPAPER',
                  }[bookType]
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_genre">Genre</label>
          <select class="form-control" name="genre" formControlName="genre" id="field_genre" data-cy="genre">
            <option [ngValue]="null"></option>
            @for (genre of genreValues; track $index) {
              <option [value]="genre">
                {{
                  {
                    null: '',
                    FICTION: 'FICTION',
                    NONFICTION: 'NONFICTION',
                    SCIENCE_FICTION: 'SCIENCE_FICTION',
                    FANTASY: 'FANTASY',
                    BIOGRAPHY: 'BIOGRAPHY',
                    MYSTERY: 'MYSTERY',
                    THRILLER: 'THRILLER',
                    ROMANCE: 'ROMANCE',
                    HORROR: 'HORROR',
                    HISTORY: 'HISTORY',
                    POETRY: 'POETRY',
                    DRAMA: 'DRAMA',
                    ADVENTURE: 'ADVENTURE',
                    CHILDRENS: 'CHILDRENS',
                    YOUNG_ADULT: 'YOUNG_ADULT',
                    SELF_HELP: 'SELF_HELP',
                    RELIGION: 'RELIGION',
                    COOKING: 'COOKING',
                    ART: 'ART',
                    TRAVEL: 'TRAVEL',
                  }[genre]
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalPage">Total Page</label>
          <input type="number" class="form-control" name="totalPage" id="field_totalPage" data-cy="totalPage" formControlName="totalPage" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_author">Author</label>
          <input type="text" class="form-control" name="author" id="field_author" data-cy="author" formControlName="author" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_cover">Cover</label>
          <input type="file" class="form-control" name="cover" id="field_cover" data-cy="cover" formControlName="cover" accept="image/*" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_synopsis">Synopsis</label>
          <input type="text" class="form-control" name="synopsis" id="field_synopsis" data-cy="synopsis" formControlName="synopsis" />
        </div>

        <div class="mb-3">
          <input type="hidden" id="field_bookStorageId" data-cy="bookStorageId" name="bookStorageId" formControlName="bookStorageId" />
        </div>
        <div class="mb-3">
          <label class="form-label" for="field_year">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
