<div class="container p-5 bg-body-secondary">
  <div class="row mb-4 align-items-center">
    <!-- Search Input -->
    <div class="col-md d-flex justify-content-center">
      <input
        type="text"
        class="form-control form-control-lg rounded-pill"
        placeholder="Search for books..."
        aria-label="Search"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearch()"
      />
    </div>

    <!-- Filters and Sorting -->
    <div class="col-md-4 d-flex justify-content-center gap-3 dropdown">
      <ng-select [items]="genres" placeholder="Filter by Genre" (change)="onSearch()" [(ngModel)]="selectedGenre" class="dropdown-item">
      </ng-select>

      <ng-select [items]="sortOptions" placeholder="Sort by" [(ngModel)]="sortOption" (change)="sortBooks()" class="dropdown-item">
      </ng-select>
    </div>
  </div>

  @if (books?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Books found</span>
    </div>
  }

  @if (filteredBooks && filteredBooks.length > 0) {
    <div class="row row-cols-sm-5 g-5">
      @for (book of filteredBooks; track trackId) {
        <div class="col">
          <a [routerLink]="['/book-detail', book.id]" class="h-100">
            <img
              src="{{ book.cover }}"
              class="rounded-5 shadow-lg bg-body rounded"
              alt="Book Cover"
              style="height: 250px; object-fit: contain"
            />
            <div class="card-body text-center">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text">{{ book.author }} - {{ book.year }}</p>
            </div>
          </a>
        </div>
      }
    </div>
  }
</div>
