<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <div *ngIf="settingsForm">
        <div *ngIf="settingsForm.get('login')?.value">
          <h2>
            User settings for [<strong>{{ settingsForm.get('login')?.value }}</strong
            >]
          </h2>
        </div>
      </div>

      <!-- Display success message -->
      <div *ngIf="success()">
        <div class="alert alert-success"><strong>Settings saved!</strong></div>
      </div>

      <!-- Display error alert -->
      <jhi-alert-error></jhi-alert-error>

      <!-- Form for user settings -->
      <form *ngIf="settingsForm" name="form" (ngSubmit)="save()" [formGroup]="settingsForm">
        <div class="row">
          <!-- Input First Name -->
          <div class="mb-3 col-6">
            <label class="form-label" for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              placeholder="Your first name"
              formControlName="firstName"
              data-cy="firstname"
            />
            <!-- Validation First Name -->
            <div
              *ngIf="
                settingsForm.get('firstName')?.invalid && (settingsForm.get('firstName')?.dirty || settingsForm.get('firstName')?.touched)
              "
            >
              <div *ngIf="settingsForm.get('firstName')?.errors?.required">
                <small class="form-text text-danger">Your first name is required.</small>
              </div>
              <div *ngIf="settingsForm.get('firstName')?.errors?.minlength">
                <small class="form-text text-danger">Your first name must be at least 1 character long.</small>
              </div>
              <div *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
                <small class="form-text text-danger">Your first name cannot be longer than 50 characters.</small>
              </div>
            </div>
          </div>

          <!-- Input Last Name -->
          <div class="mb-3 col-6">
            <label class="form-label" for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              placeholder="Your last name"
              formControlName="lastName"
              data-cy="lastname"
            />
            <!-- Validation Last Name -->
            <div
              *ngIf="
                settingsForm.get('lastName')?.invalid && (settingsForm.get('lastName')?.dirty || settingsForm.get('lastName')?.touched)
              "
            >
              <div *ngIf="settingsForm.get('lastName')?.errors?.required">
                <small class="form-text text-danger">Your last name is required.</small>
              </div>
              <div *ngIf="settingsForm.get('lastName')?.errors?.minlength">
                <small class="form-text text-danger">Your last name must be at least 1 character long.</small>
              </div>
              <div *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
                <small class="form-text text-danger">Your last name cannot be longer than 50 characters.</small>
              </div>
            </div>
          </div>
        </div>

        <!-- Input Email -->
        <div class="mb-3">
          <label class="form-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="email"
          />
          <!-- Validation Email -->
          <div *ngIf="settingsForm.get('email')?.invalid && (settingsForm.get('email')?.dirty || settingsForm.get('email')?.touched)">
            <div *ngIf="settingsForm.get('email')?.errors?.required">
              <small class="form-text text-danger">Your email is required.</small>
            </div>
            <div *ngIf="settingsForm.get('email')?.errors?.email">
              <small class="form-text text-danger">Your email is invalid.</small>
            </div>
            <div *ngIf="settingsForm.get('email')?.errors?.minlength">
              <small class="form-text text-danger">Your email must be at least 5 characters long.</small>
            </div>
            <div *ngIf="settingsForm.get('email')?.errors?.maxlength">
              <small class="form-text text-danger">Your email cannot be longer than 254 characters.</small>
            </div>
          </div>
        </div>

        <!-- Input Date Of Birth -->
        <div class="mb-3">
          <label class="form-label" for="dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              formControlName="dateOfBirth"
              id="dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control rounded-start-5"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <!-- Input Phone Number -->
        <div class="mb-3">
          <label class="form-label" for="phoneNumber">Phone Number</label>
          <input
            type="text"
            class="form-control rounded-5"
            id="phoneNumber"
            name="phoneNumber"
            placeholder="Your phone number"
            formControlName="phoneNumber"
            data-cy="phoneNumber"
          />
        </div>

        <!-- Input Street Address -->
        <div class="row mb-3">
          <div class="col-12 col-md-6 mb-3 mb-md-0">
            <label class="form-label" for="streetAddress">Street Address</label>
            <input
              type="text"
              class="form-control rounded-5"
              id="streetAddress"
              name="streetAddress"
              placeholder="Your street address"
              formControlName="streetAddress"
              data-cy="streetAddress"
            />
          </div>

          <!-- Input Postal Code -->
          <div class="col-12 col-md-6">
            <label class="form-label" for="postalCode">Postal Code</label>
            <input
              type="text"
              class="form-control rounded-5"
              id="postalCode"
              name="postalCode"
              placeholder="Your postal code"
              formControlName="postalCode"
              data-cy="postalCode"
            />
          </div>
        </div>

        <!-- Input City and Province -->
        <div class="row mb-3">
          <div class="col-md-6 mb-3 col-6">
            <label class="form-label" for="city">City</label>
            <input
              type="text"
              class="form-control rounded-5"
              id="city"
              name="city"
              placeholder="Your city"
              formControlName="city"
              data-cy="city"
            />
          </div>
          <div class="col-6 col-md-6 mb-3">
            <label class="form-label" for="stateProvince">Province</label>
            <input
              type="text"
              class="form-control rounded-5"
              id="stateProvince"
              name="stateProvince"
              placeholder="Your province"
              formControlName="stateProvince"
              data-cy="stateProvince"
            />
          </div>
        </div>

        <!-- Input Upload Image -->
        <div class="mb-3">
          <label class="form-label" for="imageFile">Upload Image</label>
          <input
            type="file"
            class="form-control"
            id="imageFile"
            name="imageFile"
            (change)="onImageChange($event)"
            data-cy="image-file"
            formenctype="multipart/form-data"
          />
          <!-- Image Preview -->
          <div *ngIf="imagePreview">
            <img [src]="imagePreview" alt="Image preview" class="img-fluid mt-2" />
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Save</button>
      </form>
    </div>
  </div>
</div>
