<div class="container p-5">
  <h2 id="page-heading" data-cy="BookHeading">
    <h2 class="text-center mb-5 mt-3">Book Management</h2>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book"
        [routerLink]="['/book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Book</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (books?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Books found</span>
    </div>
  }

  @if (books && books.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span>Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="author">
              <div class="d-flex">
                <span>Author</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span>Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="genre">
              <div class="d-flex">
                <span>Genre</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="year">
              <div class="d-flex">
                <span>Year</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalPage">
              <div class="d-flex">
                <span>Total Page</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="author">
              <div class="d-flex">
                <span>Author</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="synopsis">
              <div class="d-flex">
                <span>Synopsis</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th>
              <div class="d-flex text-center">
                <span>Quantity</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (book of books; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book', book.id, 'view']">{{ book.title }}</a>
              </td>
              <td>{{ book.author }}</td>
              <td>
                {{
                  {
                    null: '',
                    HARDCOVER: 'HARDCOVER',
                    PAPERBACK: 'PAPERBACK',
                    EBOOK: 'EBOOK',
                    AUDIOBOOK: 'AUDIOBOOK',
                    MAGAZINE: 'MAGAZINE',
                    JOURNAL: 'JOURNAL',
                    COMIC: 'COMIC',
                    NEWSPAPER: 'NEWSPAPER',
                  }[book.type ?? 'null']
                }}
              </td>
              <td>
                {{
                  {
                    null: '',
                    FICTION: 'FICTION',
                    NONFICTION: 'NONFICTION',
                    SCIENCE_FICTION: 'SCIENCE_FICTION',
                    FANTASY: 'FANTASY',
                    BIOGRAPHY: 'BIOGRAPHY',
                    MYSTERY: 'MYSTERY',
                    THRILLER: 'THRILLER',
                    ROMANCE: 'ROMANCE',
                    HORROR: 'HORROR',
                    HISTORY: 'HISTORY',
                    POETRY: 'POETRY',
                    DRAMA: 'DRAMA',
                    ADVENTURE: 'ADVENTURE',
                    CHILDRENS: 'CHILDRENS',
                    YOUNG_ADULT: 'YOUNG_ADULT',
                    SELF_HELP: 'SELF_HELP',
                    RELIGION: 'RELIGION',
                    COOKING: 'COOKING',
                    ART: 'ART',
                    TRAVEL: 'TRAVEL',
                  }[book.genre ?? 'null']
                }}
              </td>
              <td>{{ book.year }}</td>
              <td>{{ book.totalPage }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.synopsis }}</td>
              <td>
                <div class="text-center">
                  {{ book.quantity }}
                </div>
              </td>

              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/book-detail', book.id]" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(book)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (books && books.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
