<div class="container">
  <h2 class="text-center mb-5 mt-3">Library Visits History</h2>

  @if (visits?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No requests</span>
    </div>
  }
  @if (visits && visits.length > 0) {
    <div class="table-responsive table-entities" id="pending-task">
      <table class="table table-striped text-center" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col">
              <div class="d-flex">
                <span>No.</span>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <span>Date</span>
            </th>
            <th scope="col">
              <span>Type</span>
            </th>
            <th scope="col" class="text-start">
              <span>Book</span>
            </th>
            <th scope="col">
              <span>Quantity</span>
            </th>
            <th scope="col">
              <span>Visitor</span>
            </th>
            <th scope="col">
              <span>Librarian</span>
            </th>
          </tr>
        </thead>
        <tbody class="text-center">
          @for (visit of visits; track trackId) {
            <tr>
              <td class="text-center">{{ $index + 1 }}</td>
              <td>{{ convertDate(visit.createdDate) }}</td>
              <td>{{ visit.type }}</td>
              <td class="text-start">
                <a [routerLink]="['/book', visit.bookId, 'view']">{{ visit.bookTitle }}</a
                ><br />
                by {{ visit.bookAuthor }}
              </td>
              <td>{{ visit.quantity }}</td>
              <td>{{ visit.visitorName }}</td>
              <td>{{ visit.librarianName }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
