<div class="container">
  <h2 class="text-center mb-5 mt-3">My Books</h2>

  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  @if (visitorBookStorages?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No book is currently borrowed</span>
    </div>
  }
  @if (visitorBookStorages && visitorBookStorages.length > 0) {
    <div class="table-responsive table-entities" id="personal-storage">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead class="text-center">
          <tr>
            <th scope="col">
              <div class="d-flex" class="text-center">
                <span>No.</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex">
                <span>Book</span>
              </div>
            </th>
            <th>
              <div class="d-flex" class="text-center">
                <span>Quantity</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex" class="text-center">
                <span>Borrow Date</span>
              </div>
            </th>
            <th scope="col">
              <div class="d-flex" class="text-center">
                <span>Expected Return Date</span>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vbs of visitorBookStorages; track trackId) {
            <tr>
              <td class="text-center">{{ $index + 1 }}</td>
              <td>
                <a [routerLink]="['/book-detail', vbs.bookId]">{{ vbs.title }}</a
                ><br />
                by {{ vbs.author }}
              </td>
              <td class="text-center">{{ vbs.quantity }}</td>
              <td class="text-center">{{ convertDate(vbs.borrowDate) }}</td>
              <td class="text-center">{{ getExpectedDate(vbs.borrowDate) }}</td>
              <td class="text-center">
                <button
                  type="button"
                  (click)="returnSelectedBook(vbs)"
                  class="btn btn-success btn-sm"
                  data-cy="returnBookRequestButton"
                  data-bs-toggle="modal"
                  data-bs-target="#modal"
                >
                  <span class="d-none d-md-inline">RETURN BOOK</span>
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
