<div class="container">
  <div class="row">
    <div class="col-sm-6 text-black d-none d-md-block">
      <img
        src="https://images.unsplash.com/photo-1604866830893-c13cafa515d5?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Login image"
        class="w-100 vh-100"
        style="object-fit: cover; object-position: left"
      />
    </div>

    <div class="col-sm-6 text-black">
      <div class="d-flex justify-content-center">
        <h1 class="text-center mb-4" data-cy="registerTitle">Register</h1>

        @if (success()) {
          <div class="alert alert-success"><strong>Registration saved!</strong> Please check your email for confirmation.</div>
        }

        @if (error()) {
          <div class="alert alert-danger"><strong>Registration failed!</strong> Please try again later.</div>
        }

        @if (errorUserExists()) {
          <div class="alert alert-danger"><strong>Login name already registered!</strong> Please choose another one.</div>
        }

        @if (errorEmailExists()) {
          <div class="alert alert-danger"><strong>Email is already in use!</strong> Please choose another one.</div>
        }

        @if (doNotMatch()) {
          <div class="alert alert-danger">The password and its confirmation do not match!</div>
        }
      </div>

      <div class="container-fluid justify-content-center">
        <div>
          @if (!success()) {
            <form name="form" (ngSubmit)="register()" [formGroup]="registerForm">
              <div class="form-floating mb-3">
                <select formControlName="role" id="role" class="form-control">
                  <option value="Visitor">Visitor</option>
                  <option value="Librarian">Librarian</option>
                </select>
                <label class="form-label" for="role">I am a</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="login"
                  name="login"
                  placeholder="Your username"
                  formControlName="login"
                  data-cy="username"
                  #login
                />

                @if (registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)) {
                  <div>
                    @if (registerForm.get('login')?.errors?.required) {
                      <small class="form-text text-danger">Your name is required.</small>
                    }

                    @if (registerForm.get('login')?.errors?.minlength) {
                      <small class="form-text text-danger">Your name is required to be at least 1 character.</small>
                    }

                    @if (registerForm.get('login')?.errors?.maxlength) {
                      <small class="form-text text-danger">Your name cannot be longer than 50 characters.</small>
                    }

                    @if (registerForm.get('login')?.errors?.pattern) {
                      <small class="form-text text-danger">Your name is invalid.</small>
                    }
                  </div>
                }
                <label class="form-label" for="login">Name</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Your email"
                  formControlName="email"
                  data-cy="email"
                />
                @if (registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)) {
                  <div>
                    @if (registerForm.get('email')?.errors?.required) {
                      <small class="form-text text-danger">Your email is required.</small>
                    }

                    @if (registerForm.get('email')?.errors?.invalid) {
                      <small class="form-text text-danger">Your email is invalid.</small>
                    }

                    @if (registerForm.get('email')?.errors?.minlength) {
                      <small class="form-text text-danger">Your email is required to be at least 5 characters.</small>
                    }

                    @if (registerForm.get('email')?.errors?.maxlength) {
                      <small class="form-text text-danger">Your email cannot be longer than 50 characters.</small>
                    }
                  </div>
                }
                <label class="form-label" for="email">Email</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="phoneNumber"
                  name="phoneNumber"
                  placeholder="Your phone number"
                  formControlName="phoneNumber"
                  data-cy="phoneNumber"
                />
                <label class="form-label" for="phoneNumber">Phone Number</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  name="address"
                  placeholder="Your address"
                  formControlName="address"
                  data-cy="address"
                />
                <label class="form-label" for="address">Address</label>
              </div>

              <div class="mb-3">
                <label class="form-label" for="field_dateOfBirth">Date Of Birth</label>
                <div class="input-group">
                  <input
                    id="field_dateOfBirth"
                    data-cy="dateOfBirth"
                    type="text"
                    class="form-control"
                    name="dateOfBirth"
                    ngbDatepicker
                    #dateOfBirthDp="ngbDatepicker"
                    formControlName="dateOfBirth"
                  />
                  <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="New password"
                  formControlName="password"
                  data-cy="firstPassword"
                />

                @if (
                  registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                ) {
                  <div>
                    @if (registerForm.get('password')?.errors?.required) {
                      <small class="form-text text-danger">Your password is required.</small>
                    }

                    @if (registerForm.get('password')?.errors?.minlength) {
                      <small class="form-text text-danger">Your password is required to be at least 4 characters.</small>
                    }

                    @if (registerForm.get('password')?.errors?.maxlength) {
                      <small class="form-text text-danger">Your password cannot be longer than 50 characters.</small>
                    }
                  </div>
                }
                <label class="form-label" for="password">Password</label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="confirmPassword"
                  name="confirmPassword"
                  placeholder="Confirm the new password"
                  formControlName="confirmPassword"
                  data-cy="secondPassword"
                />

                @if (
                  registerForm.get('confirmPassword')!.invalid &&
                  (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                ) {
                  <div>
                    @if (registerForm.get('confirmPassword')?.errors?.required) {
                      <small class="form-text text-danger">Your confirmation password is required.</small>
                    }

                    @if (registerForm.get('confirmPassword')?.errors?.minlength) {
                      <small class="form-text text-danger">Your confirmation password is required to be at least 4 characters.</small>
                    }

                    @if (registerForm.get('confirmPassword')?.errors?.maxlength) {
                      <small class="form-text text-danger">Your confirmation password cannot be longer than 50 characters.</small>
                    }
                  </div>
                }
                <label class="form-label" for="confirmPassword">Password confirmation</label>
              </div>

              <button type="submit" [disabled]="registerForm.invalid" class="mb-3 mt-3 btn btn-primary w-100" data-cy="submit">
                Register
              </button>
            </form>
          }
        </div>
      </div>
    </div>
  </div>
</div>
