<div class="login-container d-flex justify-content-center align-items-center">
  <div class="login-box col-lg-6 col-md-8 col-sm-10 p-4 shadow rounded">
    <h2 class="text-center mb-4" data-cy="loginTitle">Welcome Back!</h2>
    @if (authenticationError()) {
      <div class="alert alert-danger text-center" data-cy="loginError">
        <strong>Sign in failed!</strong> Please check your credentials and try again.
      </div>
    }
    <form class="form" (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="mb-4">
        <label class="form-label" for="username">Username</label>
        <input
          type="text"
          class="form-control form-control-lg"
          name="username"
          id="username"
          placeholder="Enter your username"
          formControlName="username"
          #username
          data-cy="username"
        />
      </div>

      <div class="mb-4">
        <label class="form-label" for="password">Password</label>
        <input
          type="password"
          class="form-control form-control-lg"
          name="password"
          id="password"
          placeholder="Enter your password"
          formControlName="password"
          data-cy="password"
        />
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg" data-cy="submit">Sign in</button>
      </div>
    </form>

    <div class="mt-4 text-center">
      <a class="text-decoration-none" routerLink="/account/reset/request" data-cy="forgetYourPasswordSelector">Forgot your password?</a>
    </div>

    <div class="mt-3 text-center">
      <span>Don't have an account yet?</span>
      <a class="text-decoration-none fw-bold" routerLink="/account/register">Register now</a>
    </div>
  </div>
</div>
